# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.27.8/CMakeCCompiler.cmake
build/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.8/CMakeSystem.cmake
build/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
*.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/MyServer.dir/build.make
build/CMakeFiles/MyServer.dir/cmake_clean.cmake
build/CMakeFiles/MyServer.dir/compiler_depend.internal
build/CMakeFiles/MyServer.dir/compiler_depend.make
build/CMakeFiles/MyServer.dir/compiler_depend.ts
build/CMakeFiles/MyServer.dir/depend.make
build/CMakeFiles/MyServer.dir/DependInfo.cmake
build/CMakeFiles/MyServer.dir/flags.make
build/CMakeFiles/MyServer.dir/link.txt
build/CMakeFiles/MyServer.dir/progress.make
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/Makefile
build/MyServer
main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
main.dSYM/Contents/Info.plist
main.dSYM/Contents/Resources/DWARF/main
*.make
*.cmake
*.internal
*.ts
build/CMakeFiles/DatabaseSetup.dir/link.txt
*.plist
*.yml
src/database/setup.dSYM/Contents/Resources/DWARF/setup
